@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  color: #fafafa;
}

.container {
  max-width: 80vw;
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h2 {
  margin-bottom: 2rem;
  font-weight: 500;
}

.ui-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  margin-bottom: 2rem;
  padding: 5px;
  border: 2px solid gray;
  outline: none;
  border-radius: 5px;
  width: 30vw;
}

input[type="text"]:focus {
  border: 2px solid rgb(0, 236, 236);
}

input[type="submit"] {
  padding: 0.5rem;
  width: 30vw;
  cursor: pointer;
  background: linear-gradient(to right, rgb(0, 238, 238), rgb(0, 190, 204));
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

input[type="submit"]:hover {
  background: linear-gradient(to right, rgb(0, 168, 197), rgb(2, 98, 224));
}

.results-add {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(10, 10, 10);
}

.results-edit {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(10, 10, 10);
}

.results-display {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5vw;
  flex-direction: column;
  background: rgb(20, 20, 20);
}

.allProperties {
  margin-bottom: 2vh;
}

.display {
  display: block;
}

.remove-btn,
.edit-btn,
.close-btn {
  padding: 3px 5px;
  cursor: pointer;
  margin: 3px 5px 3px 0px;
  color: #fafafa;
  outline: none;
  border: none;
  border-radius: 2px;
  width: 4rem;
}

.remove-btn:hover,
.edit-btn:hover,
.close-btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.remove-btn {
  background: rgb(194, 23, 0);
}

.edit-btn {
  background: rgb(0, 134, 168);
}

.close-btn {
  background: rgb(0, 134, 168);
  margin: 2rem;
}

.loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 99;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}
